<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Anjali Kantharuban">
        <title>Smart Journal | Login</title>
        <link href="{{ url_for('static', filename='style/login.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id = "sign-in">
            <h1>Sign In</h1>
            <h2>Don't have an account? <a href = "{{ url_for('signup')}}">Sign Up</a></h2>
            <form action="" method="post">
                {{ form.email(placeholder="Email") }} <br>
                {{ form.password(placeholder="Password") }} <br>
                {{ form.submit(id="submit") }}
            </form>
        </div>
    </body>
</html>